@import 'mixins';

.main--About {
    display: flex;
    height: 100%;
    align-items: flex-end;
    color: #ffffff;

    @include nonScroll-pages;

    article {
        width: 600px;
        margin-bottom: 30px;

        hr {
            width: 208px;
            margin-bottom: 20px;
            border-color: #BA2028;
        }
    }
}