@import url('https://fonts.googleapis.com/css2?family=Koulen&family=Nunito+Sans&display=swap');
@import 'mixins';

$--bg-color: #ff000036;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;

}


body {
    &::-webkit-scrollbar {
        display: none;
    }
}

.App {
    color: #ffffff;
    display: flex;
    background-color: #000;

    .fundo {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 100vh;

        .sharin {
            width: 600px;
            height: 565px;
            position: absolute;
            margin: auto;

            @include mobile {
                width: 300px;
                height: 282.5px;
            }
        }

        .mange {
            position: absolute;
            margin: auto;

            width: 230px;
            height: 204px;

            opacity: 0;

            &.active {
                animation: 3s ease-out 1s mange;
            }

            @include mobile {
                width: 115px;
                height: 102px;
            }
        }

        .kyo {
            position: absolute;
            margin: auto;

            width: 230px;
            height: 204px;

            opacity: 0;

            &.active {
                animation: 6s ease-out 1s kyo;
            }

            @include mobile {
                width: 115px;
                height: 102px;
            }
        }



        .eye {
            position: absolute;
            margin: auto;
            width: 280px;
            height: 280px;
            background-color: #000;
            border-radius: 50%;


            @include mobile {
                width: 140px;
                height: 140px;
            }
        }

        button {
            background-color: #BA2028;
            color: white;
            box-shadow: 3px 3px 4px rgba($color: #BA2028, $alpha: 0.25);
            border-radius: 20px;

            font-size: 20px;
            width: 200px;
            height: 100px;

            position: absolute;
            margin: auto;
            bottom: 40px;
        }

    }

    @keyframes mange {
        0% {
            transform: scale(0);
            opacity: 0;

            box-shadow: none;
            background-color: none;
        }

        2% {
            transform: rotate(0deg) scale(0);
            opacity: 1;
        }

        50% {
            opacity: 1;
        }

        51% {
            transform: rotate(-360deg) scale(1);
            opacity: 1;
        }

        70% {
            transform: scale(1);
            opacity: 1;
        }

        100% {
            transform: scale(30);
            opacity: 0;
        }


    }

    @keyframes kyo {
        0% {
            opacity: 0;
        }

        35% {
            opacity: 0;
        }

        36% {

            opacity: 1;
        }

        100% {
            opacity: 1;
        }
    }
}