@import 'mixins';

.main--Content {
    margin-left: 170px;
    width: 100%;
    font-family: 'Nunito Sans', sans-serif;
    background-color: #202020;
    padding: 30px;
    height: 100vh;

    @include mobile {
        margin-left: 0;
        height: fit-content;
        padding: 0 30px;
    }
}