@import 'mixins';

.main--Home {
    display: flex;
    height: 100%;
    gap: 20px;

    img {
        margin-top: 65px;
        width: 400px;
        height: 200px;
        border-radius: 5px;

        @include mobile {
            // display: none;
            margin-top: 20px;
            width: 300px;
            height: 150px;
        }
    }

    @include mobile {
        flex-direction: column;
        align-items: center;
        padding-top: 100px;
        padding-bottom: 20px;
    }


    .home {
        height: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 10px;
        justify-content: space-evenly;
        margin-bottom: 70px;
        // margin-left: 70px;

        @include mobile {
            align-items: center;
            width: 100vw;
        }
    }

    h1 {
        font-size: 80px;

        @include mobile {
            font-size: 40px;
        }
    }

    p {
        text-align: justify;
        width: 800px;

        @include mobile {
            width: 80vw;
        }
    }
}