@import 'mixins';

.main--Layout {

    .Layout {
        cursor: pointer;

        width: 330px;
        height: 225px;

        background-color: #3b3c3d;
        color: #fff;

        padding: 10px;

        box-shadow: 3px 3px 7px rgba($color: #000000, $alpha: 0.5);

        img {
            width: 310px;
            height: 195px;
        }





        &:hover {
            animation: 0.2s ease-out chique;
        }

        @keyframes chique {
            0% {
                transform: translateY(0px);
            }

            50% {
                transform: translateY(15px);
            }

            100% {
                transform: translateY(0px);
            }
        }
    }

    .active {
        margin-left: 120px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);


        cursor: default;

        background-color: #3b3c3d;
        color: #fff;

        width: 700px;
        height: 550px;

        padding: 25px 10px;

        display: flex;
        flex-direction: column;


        img {
            width: 600px;
            height: 281px;
            margin: 0 40px;
        }


        .infos {
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            gap: 5px;
            padding: 0 10px;
            height: 100%;
            text-align: justify;

            .buttons {
                display: flex;
                justify-content: flex-end;

                a {
                    margin: 10px;
                    color: #BA2028;
                    font-size: 30px;
                }
            }

            .techs {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                gap: 2px;
                margin: 10px auto;


                p {
                    padding: 3px;
                    background-color: #dA0000;
                    color: #eee;
                    height: 25px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 3px;

                }
            }
        }

        .closeWindow {
            position: absolute;
            background-color: #FC5753;
            color: #FC5753;
            font-size: 15px;
            border-radius: 50%;
            top: 7px;
            left: 15px;
            z-index: 1;

            @include mobile {
                color: #630005;
            }

            &:hover {
                color: #630005;
                cursor: pointer;
            }

        }

        @include mobile {
            margin: 0px;
            position: fixed;

            width: 90vw;
            height: 600px;

            padding: 10px;

            img {
                width: 75vw;
                height: 281px;
                margin: 25px auto;
            }
        }

    }

    .shadow {
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.50);
        position: absolute;
        top: 0;
        left: 0;

        @include mobile {
            // display: none;
            position: fixed;
        }

        // Para bloquear os clicks nos outros projetos enquanto ativo
    }
}