@import 'mixins';

$detail-color: #BA2028;

.main--Nav {
    background-color: #342c2c;

    position: fixed;

    height: 100vh;
    width: 170px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    z-index: 1;

    @include mobile {
        width: 100%;
        height: 80px;
        flex-direction: row;
    }


    a.active {
        svg {
            color: $detail-color;
        }
    }

    ul {
        @include mobile {
            display: flex;
            gap: 15px;
        }
    }

    li {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        a {
            font-family: 'Koulen', cursive;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 70px;
            color: rgba(230, 230, 230, 0.85);
            flex-grow: 1;
            font-size: 24px;

            @media (min-width: 425px) {
                &:hover {
                    color: $detail-color;

                    svg {
                        opacity: 0;
                        transition: all 0.3s ease-out;
                    }

                    &::after {
                        transition: all 0.3s ease-out;
                        opacity: 1;
                    }
                }

                &::after {
                    position: absolute;
                    font-size: 20px;
                    letter-spacing: 3px;
                    text-align: center;
                    content: '';
                    opacity: 0;
                }

                &.Home {
                    &::after {
                        content: 'Home'
                    }
                }

                &.Techs {
                    &::after {
                        content: 'Technologies'
                    }
                }

                &.About {
                    &::after {
                        content: 'About'
                    }
                }

                &.Projects {
                    &::after {
                        content: 'Projects'
                    }
                }

                &.Contact {
                    &::after {
                        content: 'Contact'
                    }
                }
            }
        }

        hr {
            width: 100px;
            border: 0.1px solid #cdcdcda1;

            @include mobile {
                display: none;
            }
        }
    }

    img {
        margin-top: 30px;
        width: 134px;
        height: 119px;
        animation: 8s linear infinite sharingan;

        @include mobile {
            margin-top: 0;
            width: 67px;
            height: 60px;
        }
    }

}


@keyframes sharingan {

    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(-360deg);

    }
}