@import 'mixins';

.main--Projects {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;


    @include mobile {
        padding-top: 100px;
        padding-bottom: 20px;

    }

}