@import 'mixins';

.main--Projects {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;


    @mixin mobile {
        @media (max-width: 425px) {
            padding-top: 100px;
            padding-bottom: 20px;
        }
    }

}