.main--Layout {

    // .cc {
    //     background-color: #0CAADC;
    //     display: flex;
    //     align-items: center;

    //     height: 26.5px;
    //     width: 80px;

    //     &:hover {

    //         .closeWindow {
    //             color: #7E0508;
    //             cursor: pointer;
    //         }

    //     }

    //     .closeWindow {
    //         background-color: #FC5753;
    //         color: #FC5753;

    //         font-size: 15px;

    //         border-radius: 50%;

    //         margin-left: 20px;
    //     }
    // }

    .Layout {
        cursor: pointer;

        width: 330px;
        height: 225px;

        background-color: #3b3c3d;
        color: #fff;

        padding: 10px;



        img {
            width: 310px;
            height: 195px;
        }





        &:hover {
            // animation: 0.2s ease-out chique;
        }

        @keyframes chique {
            0% {
                transform: translateY(0px);
            }

            50% {
                transform: translateY(15px);
            }

            100% {
                transform: translateY(0px);
            }
        }
    }

    .active {
        margin-left: 125px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        cursor: default;

        background-color: #3b3c3d;
        color: #fff;

        width: 700px;
        height: 530px;

        padding: 25px 10px;

        display: flex;
        flex-direction: column;


        img {
            width: 600px;
            height: 281px;
            margin: 0 40px;
        }


        .infos {
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            gap: 5px;
            padding: 0 10px;
            height: 100%;

            .buttons {
                display: flex;
                justify-content: flex-end;

                a {
                    margin: 10px;
                    color: #BA2028;
                    font-size: 30px;
                }
            }

            .techs {
                display: flex;
                gap: 2px;
                margin: 10px auto;


                p {
                    padding: 3px;
                    background-color: #fff;
                    color: #0CAADC;
                    height: 20px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 3px;
                }
            }
        }

        &:hover {
            // animation: none;
        }
    }
}