.main--About {
    height: 100vh;
    display: flex;
    align-items: flex-end;
    padding: 200px 100px;
    color: #ffffff;

    article {
        width: 600px;

        hr {
            width: 208px;
            margin-bottom: 20px;
            border-color: #BA2028;
        }
    }
}