@import url('https://fonts.googleapis.com/css2?family=Koulen&family=Nunito+Sans&display=swap');

$--bg-color: #ff000036;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
}


body {
    // overflow: hidden;
    background-color: #202020;

    &::-webkit-scrollbar {
        display: none;
    }
}

.App {
    color: #ffffff;
    height: 100vh;
    display: flex;

    .fundo {
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url('./images/fundo.png');
        background-position: center center;
        width: 100vw;
        height: 100vh;

        .mange {
            position: absolute;
            margin: auto;

            width: 230px;
            height: 204px;

            opacity: 0;

            &.active {
                animation: 3s ease-out 1s mange;
            }
        }

        .kyo {
            position: absolute;
            margin: auto;

            width: 230px;
            height: 204px;

            opacity: 0;

            &.active {
                // box-shadow: 0 0 1000px 550px $--bg-color;
                // background-color: $--bg-color;
                animation: 6s ease-out 1s kyo;
            }
        }



        .eye {
            position: absolute;
            margin: auto;
            width: 280px;
            height: 280px;
            background-color: #000;
            border-radius: 50%;

        }

        button {
            background-color: blue;
            width: 100px;
            height: 100px;

            position: absolute;
            margin: auto;
            bottom: 40px;
        }

    }

    @keyframes mange {
        0% {
            transform: scale(0);
            opacity: 0;

            box-shadow: none;
            background-color: none;
        }

        2% {
            transform: rotate(0deg) scale(0);
            opacity: 1;
        }

        50% {
            opacity: 1;
        }

        51% {
            transform: rotate(360deg) scale(1);
            opacity: 1;
        }

        70% {
            transform: scale(1);
            opacity: 1;
        }

        100% {
            transform: scale(30);
            opacity: 0;
        }


    }

    @keyframes kyo {
        0% {
            opacity: 0;
        }

        35% {
            opacity: 0;
        }

        36% {

            opacity: 1;
        }

        100% {
            opacity: 1;
        }
    }
}