$detail-color: #0CAADC;

.main--Nav {
    display: flex;
    flex-direction: column;
    background-color: #3b3c3d;
    width: 250px;
    gap: 30px;

    a.active {
        svg {
            color: $detail-color;
        }
    }

    li {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        a {
            font-family: 'Koulen', cursive;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 70px;
            color: rgba(230, 230, 230, 0.85);
            flex-grow: 1;
            font-size: 30px;

            &:hover {
                color: $detail-color;

                svg {
                    opacity: 0;
                    transition: all 0.3s ease-out;
                }

                &::after {
                    transition: all 0.3s ease-out;
                    opacity: 1;
                }
            }

            &::after {
                position: absolute;
                font-size: 23px;
                letter-spacing: 3px;
                text-align: center;
                content: '';
                opacity: 0;
            }

            &.Home {
                &::after {
                    content: 'Home'
                }
            }

            &.Techs {
                &::after {
                    content: 'Technologies'
                }
            }

            &.About {
                &::after {
                    content: 'About'
                }
            }

            &.Projects {
                &::after {
                    content: 'Projects'
                }
            }

            &.Contact {
                &::after {
                    content: 'Contact'
                }
            }
        }

        hr {
            width: 120px;
            border: 0.1px solid #cdcdcda1;
        }
    }

    img {
        width: 150px;
        height: 150px;
        border-radius: 50%;
    }
}

.foto {
    margin: 30px auto;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
}